<h1>Baloncesto</h1>

<div id="primerColumna">
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Madrid y el baloncesto", comentarios_path %>
		</div>
		<%= image_tag "b1.jpg", :size => "300x300" %>
		<p>El base del Real Madrid Sergio Rodríguez asegura que Rudy Fernández está "ayudando muchísimo al equipo y 
		aporta en todas las facetas del juego" recalcando que el mallorquín está "totalmente metido en la dinámica" del 
		grupo.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Dusko Savanovic pasó tres temporadas en España", comentarios_path %>
		</div>
		<%= image_tag "b2.jpg", :size => "300x300" %>
		<p>Dusko Savanovic pasó tres temporadas en España (dos en el Cajasol de Sevilla y una en Valencia). El alero 
		serbio ha emigrado esta campaña a Turquía, al Anatolu Efes de Estambul.</p>
	</div><br />
			
</div>

<div id="limpiado">
</div>

<div id="segundaColumna">
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Dentro del top-20", comentarios_path %>
		</div>
		<%= image_tag "b3.jpg", :size => "300x200" %>
		<p>El director deportivo del KK Zagreb confirmó que su equipo rechazó al MVP de la pasada temporada. Los 
		compromisos publicitarios de Rose le iban a impedir jugar tres partidos de Euroliga. Otro rechazo europeo tras 
		el NO del Panathinaikos a Garnett.
		</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Fuera del Grand Slam y Masters!", comentarios_path %>
		</div>
		<%= image_tag "b4.jpg", :size => "300x300" %>
		<p>Shaquille O'Neal no lleva demasiado bien su nueva vida de jubilado. El mítico '34' se lleva un par de meses 
		retirado y ya tiene la cabeza puesta en nuevos proyectos. El pívot ha confirmado su intención de ser presidente 
		de una franquicia en New Jersey, al tiempo que ha solicitado también ser la mano derecha del Sheriff de Lake 
		County en Florida.</p>
	</div><br />
	
</div>

<div id="limpiado">
</div>

<div id="tercerColumna">
   <%= render "compartido/ultimos_comentarios"%>
</div>

