<h1>Fútbol</h1>

<div id="primerColumna">
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Mourinho medita dar descanso a Xabi Alonso esta semana", comentarios_path %>
		</div>
		<%= image_tag "n1.jpg", :size => "300x150" %>
		<p>Xabi Alonso está siendo el jugador de campo más importante para Mourinho en lo que va de temporada. No se ha 
	    perdido ni un solo minuto, en ninguna competición. Ha rotado al resto de mediocentros, pero no él.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Nueve candidatos del Barça para el Balón de Oro 2011", comentarios_path %>
		</div>
		<%= image_tag "n2.jpg", :size => "300x300" %>
		<p>El Barcelona será, casi con total seguridad, el equipo que mayor representación tenga en la lista definitiva  
	    de 50 jugadores que optan al Balón de Oro. Hasta nueve jugadores azulgrana aspirarán al preciado galardón: 
	    Messi, Iniesta, Xavi, Cesc, Piqué, Puyol, Villa, Alves y Abidal serán los futbolistas del conjunto catalán con 
	    posibilidades de hacerse con el preciado trofeo.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "No hay tiempo para que un penalti afecte a Messi", comentarios_path %>
		</div>
		<%= image_tag "n3.jpg", :size => "300x300" %>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Las lesiones siguen siendo el peor enemigo del Barca", comentarios_path %>
		</div>
		<%= image_tag "n4.jpg", :size => "300x200" %>
		<p>Carles Puyol se ejercitó al margen del grupo debido a unas molestias en el pubis y es baja para el partido de 
	    este martes en Granada, igual que Gerard Piqué que sigue progresando, pero que no llegará a tiempo para el 
	    choque</p>
	</div><br />		
</div>

<div id="limpiado">
</div>

<div id="segundaColumna">
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Espero seguir mucho tiempo aqui", comentarios_path %>
		</div>
		<%= image_tag "n5.jpg", :size => "300x150" %>
		<p>Neymar reiteró este domingo su deseo de seguir en el Santos "muchos años", pese a que su futuro sigue 
	    vinculado al Real Madrid. El delantero brasileño insistió en que no tiene pensado cambiar de aires: "Mi corazón 
	    está con los aficionados del Santos. Espero continuar jugando en Brasil durante muchos años".</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Unión contra el polio", comentarios_path %>
		</div>
		<%= image_tag "n6.jpg", :size => "300x200" %>
		<p>Sandro Rosell y Pep Guardiola se han sumado a la lucha contra la polio en el día internacional de la lucha 
		contra dicha enfermedad. Ambos han grabado un vídeo junto a Bill Gates bajo el slogan: "Más que un gol. Fin a la 
		polio"</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Lider de la otra", comentarios_path %>
		</div>
		<%= image_tag "n7.jpg", :size => "300x200" %>
		<p>El Sporting es el líder destacado de la 'otra' Liga BBVA, la que juegan chavales de 13 años en Pekín 
		respetando el formato y los equipos que componen el torneo español. MARCA.com te cuenta todo sobre un torneo que 
		sólo se parece a nuestra Liga en el nombre porque en China... ¡el Real Madrid roza el descenso!</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Las lesiones atacan la liga", comentarios_path %>
		</div>
		<%= image_tag "n8.jpg", :size => "300x200" %>
		<p>La resonancia efectuada a Carlos Gurpegui, que se lesionó en Mestalla (1-1), reveló que sufre una rotura del 
		ligamento cruzado anterior de la rodilla izquierda, según informa la página web del Athletic.</p>
	</div><br />
	
</div>

<div id="limpiado">
</div>

<div id="tercerColumna">
   <%= render "compartido/ultimos_comentarios"%>
</div>
