<h1>Deportes</h1>

<div id="primerColumna">
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Mourinho medita dar descanso a Xabi Alonso esta semana", comentarios_path %>
		</div>
		<%= image_tag "n1.jpg", :size => "300x150" %>
		<p>Xabi Alonso está siendo el jugador de campo más importante para Mourinho en lo que va de temporada. No se ha 
	    perdido ni un solo minuto, en ninguna competición. Ha rotado al resto de mediocentros, pero no él.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Un minuto de silencio", comentarios_path %>
		</div>
		<%= image_tag "m1.jpg", :size => "300x150" %>
		<p>El piloto Marco Simoncelli, de 24 años, ha muerto tras el grave accidente que sufrió en el Gran Premio de 
		Malasia de MotoGP, que se ha cancelado tras el incidente. El italiano se fue al suelo en una curva al inicio de 
		la carrera y fue atropellado por Colin Edwards y Valentino Rossi.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Disputa interna", comentarios_path %>
		</div>
		<%= image_tag "m2.jpg", :size => "250x300" %>
		<p>Fausto Gresini, dueño del San Carlo Gresini en el que corría el malogrado Marco Simoncelli, tiene decidido 
		que su equipo no corra en el Gran Premio de la Comunidad Valenciana ni realice los tests de postemporada los 
	    días siguientes. "Mi equipo no participará en el próximo Gran Premio en Valencia, o en las pruebas programadas 
	    días después de la carrera", confesó Gresini en una entrevista concedida a GPone.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Madrid y el baloncesto", comentarios_path %>
		</div>
		<%= image_tag "b1.jpg", :size => "300x300" %>
		<p>El base del Real Madrid Sergio Rodríguez asegura que Rudy Fernández está "ayudando muchísimo al equipo y 
		aporta en todas las facetas del juego" recalcando que el mallorquín está "totalmente metido en la dinámica" del 
		grupo.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Dusko Savanovic pasó tres temporadas en España", comentarios_path %>
		</div>
		<%= image_tag "b2.jpg", :size => "300x300" %>
		<p>Dusko Savanovic pasó tres temporadas en España (dos en el Cajasol de Sevilla y una en Valencia). El alero 
		serbio ha emigrado esta campaña a Turquía, al Anatolu Efes de Estambul.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Sin fin a la historia", comentarios_path %>
		</div>
		<%= image_tag "t1.jpg", :size => "300x300" %>
		<p>El sindicato de jugadores de la ATP ultima una amenaza que quiere acabar, como ya han logrado la UEFA y el 
		COI, con el doble sistema impositivo que hay en Gran Bretaña con los ingresos de los deportistas. La decisión 
		apunta a la joya de la corona: un boicot a la próxima edición de Wimbledon y, por extensión, a los otros dos 
		torneos que se celebran en suelo británico, Nottingham y Queens.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Duelo de grandes", comentarios_path %>
		</div>
		<%= image_tag "t2.jpg", :size => "300x300" %>
		<p>María Sharapova, número 2 del mundo, afronta el WTA Championships encantada por volver a estar entre las ocho 
		mejores del mundo y aseguró que arrebatar el liderato mundial a Caroline Wozniacki -algo que conseguirá si gana 
		en Estanmbul- no es ahora mismo su objetivo.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Nueve candidatos del Barça para el Balón de Oro 2011", comentarios_path %>
		</div>
		<%= image_tag "n2.jpg", :size => "300x300" %>
		<p>El Barcelona será, casi con total seguridad, el equipo que mayor representación tenga en la lista definitiva  
	    de 50 jugadores que optan al Balón de Oro. Hasta nueve jugadores azulgrana aspirarán al preciado galardón: 
	    Messi, Iniesta, Xavi, Cesc, Piqué, Puyol, Villa, Alves y Abidal serán los futbolistas del conjunto catalán con 
	    posibilidades de hacerse con el preciado trofeo.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "No hay tiempo para que un penalti afecte a Messi", comentarios_path %>
		</div>
		<%= image_tag "n3.jpg", :size => "300x300" %>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Las lesiones siguen siendo el peor enemigo del Barca", comentarios_path %>
		</div>
		<%= image_tag "n4.jpg", :size => "300x200" %>
		<p>Carles Puyol se ejercitó al margen del grupo debido a unas molestias en el pubis y es baja para el partido de 
	    este martes en Granada, igual que Gerard Piqué que sigue progresando, pero que no llegará a tiempo para el 
	    choque</p>
	</div><br />		
</div>

<div id="limpiado">
</div>

<div id="segundaColumna">
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Espero seguir mucho tiempo aqui", comentarios_path %>
		</div>
		<%= image_tag "n5.jpg", :size => "300x150" %>
		<p>Neymar reiteró este domingo su deseo de seguir en el Santos "muchos años", pese a que su futuro sigue 
	    vinculado al Real Madrid. El delantero brasileño insistió en que no tiene pensado cambiar de aires: "Mi corazón 
	    está con los aficionados del Santos. Espero continuar jugando en Brasil durante muchos años".</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Unión contra el polio", comentarios_path %>
		</div>
		<%= image_tag "n6.jpg", :size => "300x200" %>
		<p>Sandro Rosell y Pep Guardiola se han sumado a la lucha contra la polio en el día internacional de la lucha 
		contra dicha enfermedad. Ambos han grabado un vídeo junto a Bill Gates bajo el slogan: "Más que un gol. Fin a la 
		polio"</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Dentro del top-20", comentarios_path %>
		</div>
		<%= image_tag "t3.jpg", :size => "300x200" %>
		<p>Feliciano López ha logrado entrar en el 'Top-20' e igualar la mejor clasificación de su carrera en el ranking 
		de la ATP, que sigue liderando con solidez el serbio Novak Djokovic.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Dentro del top-20", comentarios_path %>
		</div>
		<%= image_tag "b3.jpg", :size => "300x200" %>
		<p>El director deportivo del KK Zagreb confirmó que su equipo rechazó al MVP de la pasada temporada. Los 
		compromisos publicitarios de Rose le iban a impedir jugar tres partidos de Euroliga. Otro rechazo europeo tras 
		el NO del Panathinaikos a Garnett.
		</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Fuera del Grand Slam y Masters!", comentarios_path %>
		</div>
		<%= image_tag "b4.jpg", :size => "300x300" %>
		<p>Shaquille O'Neal no lleva demasiado bien su nueva vida de jubilado. El mítico '34' se lleva un par de meses 
		retirado y ya tiene la cabeza puesta en nuevos proyectos. El pívot ha confirmado su intención de ser presidente 
		de una franquicia en New Jersey, al tiempo que ha solicitado también ser la mano derecha del Sheriff de Lake 
		County en Florida.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Fuera del Grand Slam y Masters!", comentarios_path %>
		</div>
		<%= image_tag "t4.jpg", :size => "300x300" %>
		<p>Fuera de Grand Slam y Masters 1.000 -torneos obligatorios del circuito- pocos eventos pueden presumir de 
		tener a tres de los cuatro mejores jugadores del mundo. El Mubadala World Tennis Championship de Abu Dhabi lo ha 
		conseguido de nuevo. El torneo de exhibición a celebrar en el Zayed Sports City del 29 al 31 de diciembre, 
		contará con un cartel de lujo formado por Novak Djokovic, Rafael Nadal, Roger Federer, David Ferrer, Jo-Wilfred 
		Tsonga y Gäel Monfils.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Jarro de agua fría", comentarios_path %>
		</div>
		<%= image_tag "m3.jpg", :size => "300x200" %>
		<p>No hubo campeón. Nico Terol lo tenía todo en su mano para alzarse con la 
		corona, pero no pudo ser. Una última vuelta traicionera le dejó sin opciones después de que su moto se 
		encabritara y estuviera a punto de tirarlo. Nico salvó la caída pero en su regreso a pista Zarco ya iba muy por 
		delante, lo suficiente para no poderlo dar caza. Sólo tenía que quedar delante de él para ser campeón. Ahora, 
		con 20 puntos de ventaja, se la tendrá que jugar en casa.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Catástrofe sobre el pavimento", comentarios_path %>
		</div>
		<%= image_tag "m4.jpg", :size => "300x200" %>
		<p>Aquel día de 2003 lucía el sol. Era 6 de abril. Pero por ningún lado aparecía la primavera. La noria de  
		Suzuka estaba dormida. Un símbolo de condolencia. Daijiro Kato agonizaba en la clínica del circuito japonés. Al 
		otro lado de la pista, los operarios aún recogían los últimos episodios del drama. Había sangre tatuada en el 
		asfalto. Y en las escaleras de la clínica móvil.</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Lider de la otra", comentarios_path %>
		</div>
		<%= image_tag "n7.jpg", :size => "300x200" %>
		<p>El Sporting es el líder destacado de la 'otra' Liga BBVA, la que juegan chavales de 13 años en Pekín 
		respetando el formato y los equipos que componen el torneo español. MARCA.com te cuenta todo sobre un torneo que 
		sólo se parece a nuestra Liga en el nombre porque en China... ¡el Real Madrid roza el descenso!</p>
	</div><br />
	
	<div id="tipoUno">
		<div id= "encabezado">
			<%= link_to "Las lesiones atacan la liga", comentarios_path %>
		</div>
		<%= image_tag "n8.jpg", :size => "300x200" %>
		<p>La resonancia efectuada a Carlos Gurpegui, que se lesionó en Mestalla (1-1), reveló que sufre una rotura del 
		ligamento cruzado anterior de la rodilla izquierda, según informa la página web del Athletic.</p>
	</div><br />
	
</div>

<div id="limpiado">
</div>

<div id="tercerColumna">
   <%= render "compartido/ultimos_comentarios"%>
</div>